<%- include("partials/header") -%>

<div class="jumbotron">
  <h1><%= titleOfPost %></h1>
  <p><%= contentOfPost %></p>

  <a href="/posts/<%= postId %>/delete" class="btn btn-danger">Delete</a>
  <a href="/posts/<%= postId %>/update" class="btn btn-warning">Update</a>
</div>






<%- include("partials/footer") -%>
